{% extends 'base.html.twig' %}

{% block title %}Liste des plateformes{% endblock %}

{% block body %}
<h1>Liste des plateformes</h1>

<table class="table w-full">
	<thead>
		<tr>
			<th>Nom</th>
			<th>URL</th>
			<th>Logo</th>
			<th>Films disponibles</th>
		</tr>
	</thead>
	<tbody>
	{% for plateforme in platformes %}
		<tr>
			<td>{{ plateforme.name.value }}</td>
			<td>
				{% if plateforme.url %}
					<a href="{{ plateforme.url }}" target="_blank">{{ plateforme.url }}</a>
				{% endif %}
			</td>
			<td>
				{% if plateforme.logo %}
					<img src="{{ plateforme.logo }}" alt="Logo {{ plateforme.name.value }}" style="height:40px;max-width:100px;" />
				{% else %}
					-
				{% endif %}
			</td>
			<td>
				{% if plateforme.films|length > 0 %}
					<ul>
						{% for film in plateforme.films %}
							<li>{{ film.title }}</li>
						{% endfor %}
					</ul>
				{% else %}
					Aucun film
				{% endif %}
			</td>
		</tr>
	{% else %}
		<tr><td colspan="4">Aucune plateforme trouvée.</td></tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
